body {margin: 0 10%}
html {color: white; font-Family: comic sans MS}
h1 {font-size: 3.5em;margin:0.2em 0}
p {font-family: arial}
body {text-align:center;}
#subscribe {margin: -80px}
h2 {font-size: 40px; text-align: left}
h3 {font-size: 15px; text-align: left}
#about-me {display:flow-root;}
#screenshot { float:right;margin-left: 1em;}
.video {margin-top: 2em;transition: transform 0.3s,filter 0.3s;}
.video:hover {transform: scale(1.1); filter: drop-shadow(1em 1em 1em rgba(0, 0, 0, 0.5));}
iframe, img {border-radius: 1em;}
#content{display:flex;flex-direction: column;align-items: center;}
#profile{height: 7em;border-radius: 100px;}
h4{font-size: 40px ;margin: -10px;}
body {
  background-image: url("https://img.magnific.com/free-vector/zigzag-lines-pattern-black-background_1017-37483.jpg?semt=ais_hybrid&w=740&q=80"); background-attachment: fixed;
}